
{% extends "layout.html" %}

{% block content %}

        <div class="index">

            <div class='intro'>
            
                If you doesn't own any account, try it with demo credentials:<br>
                    <br>
                    user > "guest"<br>
                    pass > "guest"<br>
                    <br>
                Obviously features are limited.

            </div>

            <ul class='menu'>

                <li>&rsaquo;&nbsp;<a href='/room'>open a room</a></li>
                <li>&rsaquo;&nbsp;<a href='https://github.com/fabiomichelini/myth'>code</a></li>

            </ul>

        </div>

{% endblock %}